@media(max-width:768px){

    .header-top-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .search-area{
        margin: 20px 0;
    }

    .logo-area{
        margin: 20px 0;
    }

    .login-area{
        margin: 20px 0;
        text-align: center;
    }

    .header-top .login-area a i{
        margin-top: 10px;
    }

    .p-primary{
        font-size: 13px;
        color: #3d5f00;
        font-weight: 400;
    }

    .buttons .order-btn{
        font-size: 14px;
    }

    .buttons .icon-btn{
        font-size: 14px;
    }

    .header-banner .banner-text h1{
        font-size: 3rem;
    }

    .header-banner .banner-text h2{
        font-size: 2rem;
    }

    .h2-primary{
        font-size: 2rem;
    }

    .h3-primary{
        font-size: 1.3rem;
    }

    .h5-primary{
        font-size: 1.3rem;
    }

    .h3-secondary{
        font-size: 1.3rem;
        letter-spacing: 5px;
    }

    .bi-one{
        text-align: center;
        margin-bottom: 30px;
    }

    .services-section img{
        margin: 20px 0;
    }

    .about-section-footer img{
        margin: 30px 0;
    }

    .card{
        /* width: 100%; */
        width: 80%;
        margin: 20px auto;
        /* margin: 30px 20px; */
    }

    .about-section-body{
        margin-top: 50px;
        /* max-height: 500px; */
        /* overflow: hidden; */
        overflow: auto;
    }

    .about-section-body img{
        margin: 30px 0;
    }

    .asf-text{
        text-align: left;
    }

    .about-section-footer{
        margin-top: 50px;
        overflow: auto;
    }
}